
    <div class="big">
    <div class="hero">
      <div class="container">
        <div class="hero__wrap">
          <div class="row">
            <div class="col-sm-6">
              <h1 class="hero__title">
                This is a SoupTime website
              </h1>
              <p class="hero__text">
                  Conference management studio provides the best organization for your papers and talk submissions. It's everyones favourite. Click the button below to begin your journey.
              </p>
              <div class="hero__buttons">
                <a href="logIn" class="btn btn--alt btn--round btn--lg full-xs"><strong>Start here</strong> <i class="fa fa-chevron-right"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div> 

      <section class="section section--blue text-center section--xl section--light">
        <div class="container container--sm">
          <h1 class="section__title">Don't have an account yet?</h1>
          <p class="text--md">
            It's so easy to sign up with us. Let us help you!
          </p>
          <a href="http://localhost:8080/api/register?redirectUri=http://localhost:4200/logIn" class="btn btn--round btn--primary btn--lg">Start your registration here<i class="fa fa-chevron-right"></i></a>
        </div>
      </section>
    </div>

      <!-- <body>

        <div class="site-wrapper">
    
          <div class="site-wrapper-inner">
    
            <div class="cover-container">
    
              <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand">Cover</h3>
                  <nav class="nav nav-masthead">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                  </nav>
                </div>
              </div>
    
              <div class="inner cover">
                <h1 class="cover-heading">Cover your page.</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                  <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
              </div>
    
              <div class="mastfoot">
                <div class="inner">
                  <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
         Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
