.big{
    height: 100%;
  }
  .container{
      margin-top: 100px;
      height: 100vh;
  }
  
  .card-body{
    background-color: white;
  }
  td{
      color: gray;
  }
  .table tr.active td {
    background-color: lightgray;
    color: white;
  }