<div class="big">
<div class="container">
    <div class="col-md-12">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
          <h3 style="text-align: center; color: gray">{{title}}</h3>
              <hr>
              <br>

          <table  class="table table-hover " style="cursor: default;">

            <tr class="table-secondary">
              <th scope="col" style="color: gray;">Email</th>
              <th scope="col" style="color: gray;">Bid</th>

            </tr>

            <tbody>

            <tr *ngFor="let pcMember of pcMembers;let i = index" (click)="RowSelectedPcMembers(pcMember)" (click)="setClickedRowPC(i)" [class.active]= "i == selectedRowPC">

              <td style="cursor: default;" >{{ pcMember.email }}</td>
              <td style="cursor: default;"> {{ pcMember.status }}</td>



            </tr>



            </tbody>
          </table>
            </div>
            <div class="col-md-6">
          <h3 style="text-align: center; color: gray">{{title2}}</h3>
          <hr>
          <br>
          <table class="table table-hover " style="cursor: default;" >

            <tr class="table-secondary">


              <th scope="col" style="color: gray;">Title</th>
              <th scope="col" style="color: gray;">Description</th>
              <th scope="col" style="color: gray;">Topics</th>

            </tr>

            <tbody>
            <tr *ngFor="let paper of papers;let i = index" (click)="RowSelected(paper,i)" (click)="setClickedRowPaper(i)" [class.active]= "i == selectedRow">

              <td style="cursor: default;" >{{ paper.title }}</td>
              <td style="cursor: default;" >{{paper.description}}</td>
              <td style="cursor: default;">{{paper.topics}}</td>



            </tr>
            </tbody>
          </table>
            </div>

        </div>
        <br>

        <div class="col text-center">
          <hr>
          <button class="btn btn-info" style="text-align: center;" (click)="assign()" >Assign </button>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>

  </div>
</div>
</div>
